 .nav-link {
    color: white;
   
  }
  .nav-link.active {
    color: #FFCA47;
  }

  .tickets {
    color: rgb(106, 243, 106);
 }

 .dotted {
  border-bottom:1px dotted #9999CC;
  text-decoration:none;
 }

 #textoFlot1 {
  position: relative;
  text-align: end;
  font-size: 1em;
  top: 140px;
 }

 #textoFlot2 {
  position: relative;
  text-align: end;
  font-size: 1em;
  top: 160px;
 }

 .btnFlot {
  position: relative;
  text-align: end;
  font-size: 1em;
  top: 160px;
 }
.totalPagar {
  background: #c5f0f8;;
 }

 .oculto {
  display: none;
 }

/**/
