.imgRedonda {
    width:200px;
    height:200px;
    border-radius:160px;
    border:10px solid rgb(60, 38, 100);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.data{
    display: flex;
    align-items: left;
    justify-content: left;
    
}



body {
    background-color: #ffdd90;
    background-image: url(https://images2.alphacoders.com/805/805172.jpg);
  }

    h1{
    font-weight: bold;
    color: rgba(250, 25, 25, 0.815)
    }

    h2{
        font-weight: bold;
        font-size: larger;
        color: rgb(247, 247, 250)
    }


p{
    font-weight: bold;
    align-items: right;
    justify-content: right;
    color: rgb(245, 245, 248)
}

.cuadrotexto { 
    display: flex;
    /*align-items: center; 
    align-content: stretch;
    /*justify-content: center;
    border: 5px solid darkblue;
   
    margin: 10px 20% 30px 20%;  /* 10px arriba, 3px derecha, 30px abajo, 5px izquierda/*
    padding: 5%;

    font-family: sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    color: #ffffff; 
   
   
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    


}
*/
